.u_btn_all_download {
  height: 28px;
  border-radius: 2px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #333;
  font-size: 13px;
  padding: 0 14px 0 15px;
}
.u_btn_all_download::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  background: url("https://nhnent.dooray.com/dist/resources/assets/images/ver3/v2_icon_set_v1.07.38f110850bfb99965f300bc4044f9909.png")
    no-repeat -853px -754px;
}
.u_btn_all_download:hover {
  background-color: #ddd;
  border: 1px solid #aaa;
}
